# Custom Chatbot Project

For this exercise, I have chosen one of the datasets available in the data folder, specifically the dataset character_descriptions.csv. This dataset contains text information about theater, television, and film productions. This information is found in the 'Description' variable, which will be renamed as 'text'. The other variables will not be relevant. Finally, the dataset meets the condition of having more than 20 rows.

## Data Wrangling

**In the cells below, load your chosen dataset into a `pandas` dataframe with a column named `"text"`. This column should contain all of your text data, separated into at least 20 rows.**

In [13]:
import os
import pandas as pd
import openai
import numpy as np

openai.api_key = "YOUR API KEY"

In [14]:
file_path = 'data/character_descriptions.csv'
df = pd.read_csv(file_path)

df.drop(columns=["Name", "Medium", "Setting"], inplace=True)
df.rename(columns={"Description": "text"}, inplace=True)
df = df[(df["text"].str.len() > 0) & (~df["text"].str.startswith("=="))]
df.head()

                                                text
0  A young woman in her early 20s, Emily is an as...
1  A middle-aged man in his 40s, Jack is a succes...
2  A woman in her late 30s, Alice is a warm and n...
3  A man in his 50s, Tom is a retired soldier and...
4  A woman in her mid-20s, Sarah is a free-spirit...

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55 entries, 0 to 54
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    55 non-null     object
dtypes: object(1)
memory usage: 880.0+ bytes

## Custom Query Completion

**In the cells below, compose a custom query using your chosen dataset and retrieve results from an OpenAI `Completion` model.**

First of all, we need to prepare data by generating embeddings. We'll use the Embedding tooling from OpenAI documentation here to create vectors representing each row of our custom dataset. In order to avoid a RateLimitError we'll send our data in batches to the Embedding.create function.

In [16]:
EMBEDDING_MODEL_NAME = "text-embedding-ada-002"
batch_size = 100
embeddings = []
for i in range(0, len(df), batch_size):
    response = openai.Embedding.create(
        input=df.iloc[i:i+batch_size]["text"].tolist(),
        engine=EMBEDDING_MODEL_NAME
    )
    embeddings.extend([data["embedding"] for data in response["data"]])
df["embeddings"] = embeddings
df

,text,embeddings
0,"A young woman in her early 20s, Emily is an as...","[-0.01689424365758896, -0.00756641011685133, -..."
1,"A middle-aged man in his 40s, Jack is a succes...","[0.00688925851136446, -0.019344933331012726, 0..."
2,"A woman in her late 30s, Alice is a warm and n...","[0.004401929676532745, -0.004343237262219191, ..."
3,"A man in his 50s, Tom is a retired soldier and...","[0.016953710466623306, -0.008723313920199871, ..."
4,"A woman in her mid-20s, Sarah is a free-spirit...","[-0.018364207819104195, -0.021533139050006866,..."
5,"A man in his early 30s, George is a charming a...","[-0.022485816851258278, -0.008806727826595306,..."
6,"A woman in her late 20s, Rachel is a shy and i...","[-0.005041478667408228, -0.006056156009435654,..."
7,"A man in his 60s, John is a retired professor ...","[0.022199273109436035, -0.010924174450337887, ..."
8,"A middle-aged Latina woman in her 40s, Maria i...","[-0.0074712433852255344, -0.000887294881977140..."
9,"A young African American man in his early 20s,...","[0.0017755168955773115, -0.018588444218039513,..."
10,"A white man in his mid-30s, Tyler is a tough-a...","[0.011398312635719776, -0.038380760699510574, ..."
11,"A white woman in her late 20s, Sonya is a free...","[0.006673669908195734, -0.023090502247214317, ..."
12,"A middle-aged Hispanic man in his 50s, Manuel ...","[-0.012681890279054642, -0.01115499623119831, ..."
13,"A white man in his early 40s, Will is a succes...","[-0.0014703168999403715, -0.033166926354169846..."
14,"A young Australian woman in her mid-20s, Mia i...","[-0.013856888748705387, -0.014185874722898006,..."
15,"A middle-aged Australian man in his 40s, Lucas...","[-0.002306401962414384, -0.007294057868421078,..."
16,A young Indigenous Australian woman in her ear...,"[-0.018038533627986908, -0.010984503664076328,..."
17,"A white Australian man in his late 20s, Max is...","[-0.0036310849245637655, -0.026928626000881195..."
18,"A middle-aged Australian woman in her 50s, Ava...","[-0.003946562297642231, 0.0002935632655862719,..."
19,A seasoned performer with a larger-than-life p...,"[-0.027577415108680725, -0.014347708784043789,..."
20,"A young up-and-coming performer, Johnny is ful...","[-0.03361907973885536, -0.016160523518919945, ..."
21,"A sultry and dramatic performer, Sable exudes ...","[-0.027826571837067604, -0.01454570796340704, ..."
22,"A bubbly and vivacious performer, Dolly is a f...","[-0.03728647157549858, -0.016844099387526512, ..."
23,"A fierce and competitive performer, Vixen is a...","[-0.03415583074092865, -0.021664632484316826, ..."
24,"A chameleon-like performer, Karma is known for...","[-0.0009998491732403636, -0.008698935620486736..."
25,"A quirky and imaginative performer, Crystal is...","[-0.015301148407161236, -0.010701618157327175,..."
26,A confident and charismatic marketing executiv...,"[-0.0065472922287881374, -0.010503015480935574..."
27,"A charming and successful entrepreneur, Marcus...","[-0.015614870004355907, -0.02911783941090107, ..."
28,A kind and compassionate nurse with a heart of...,"[-0.033020179718732834, -0.019923731684684753,..."
29,"A handsome and athletic personal trainer, Jame...","[-0.029990067705512047, -0.003798258025199175,..."
30,"A fun-loving and adventurous travel blogger, S...","[0.011157072149217129, -0.006655384320765734, ..."
31,"A quirky and creative graphic designer, Noah i...","[-0.02609659917652607, -0.01127712707966566, -..."
32,"A driven and ambitious attorney, Chloe is alwa...","[-0.0116198118776083, -0.0031070932745933533, ..."
33,"A laid-back and easygoing firefighter, Jake is...","[-0.019588826224207878, -0.01592748612165451, ..."
34,A charming and handsome prince who has recentl...,"[-0.009761600755155087, -0.016105996444821358,..."
35,A mysterious and alluring woman who runs a loc...,"[0.010790402069687843, -0.003631636733189225, ..."
36,A wealthy and arrogant nobleman who loves to f...,"[-0.022424040362238884, -0.015983091667294502,..."
37,A fiery and passionate young woman who works a...,"[-0.016097938641905785, -0.02260615862905979, ..."
38,A charming and charismatic young man who is of...,"[-0.017554903402924538, -0.012964434921741486,..."
39,A pompous and self-important nobleman who is h...,"[-0.013315127231180668, -0.03518359363079071, ..."
40,A wealthy and beautiful noblewoman who has rec...,"[-0.017846638336777687, -0.028381993994116783,..."
41,A drunken and lecherous knight who loves nothi...,"[-0.006863751448690891, -0.03922504559159279, ..."
42,A pompous and self-righteous steward in Lady O...,"[-0.01504779327660799, -0.032095033675432205, ..."
43,A plucky and resourceful young woman who is sh...,"[-0.0155258784070611, -0.046808600425720215, 0..."
44,A dim-witted and gullible nobleman who is brou...,"[-0.028926637023687363, -0.03159963712096214, ..."
45,Lady Olivia's cunning and quick-witted maid. B...,"[-0.015198317356407642, -0.023255717009305954,..."
46,"Viola's twin brother, who is also shipwrecked ...","[-0.009471133351325989, -0.045926060527563095,..."
47,A jester and musician who works in Lady Olivia...,"[-0.016461750492453575, -0.028220143169164658,..."
48,A sea captain who rescues Sebastian from the s...,"[-0.004014816600829363, -0.04001781344413757, ..."
49,A plucky and resourceful young woman who works...,"[-0.03148273378610611, -0.01927117072045803, -..."
50,A good-natured and affable young man who also ...,"[-0.018668416887521744, -0.009379115886986256,..."
51,The pious and stern minister of the local chur...,"[-0.00348820467479527, -0.01993994042277336, -..."
52,The charismatic and dashing captain of the loc...,"[-0.014173961244523525, -0.009808113798499107,..."
53,The matriarch of the wealthiest family in Will...,"[-0.028885116800665855, -0.009663384407758713,..."
54,The bumbling and absent-minded patriarch of th...,"[-0.017165901139378548, -0.008472580462694168,..."

In order to avoid having to run that code again in the future, we'll save the generated embeddings as a CSV file.

In [17]:
df.to_csv("data/embeddings.csv")

In [18]:
df = pd.read_csv("data/embeddings.csv", index_col=0)
df["embeddings"] = df["embeddings"].apply(eval).apply(np.array)
df

,text,embeddings
0,"A young woman in her early 20s, Emily is an as...","[-0.01689424365758896, -0.00756641011685133, -..."
1,"A middle-aged man in his 40s, Jack is a succes...","[0.00688925851136446, -0.019344933331012726, 0..."
2,"A woman in her late 30s, Alice is a warm and n...","[0.004401929676532745, -0.004343237262219191, ..."
3,"A man in his 50s, Tom is a retired soldier and...","[0.016953710466623306, -0.008723313920199871, ..."
4,"A woman in her mid-20s, Sarah is a free-spirit...","[-0.018364207819104195, -0.021533139050006866,..."
5,"A man in his early 30s, George is a charming a...","[-0.022485816851258278, -0.008806727826595306,..."
6,"A woman in her late 20s, Rachel is a shy and i...","[-0.005041478667408228, -0.006056156009435654,..."
7,"A man in his 60s, John is a retired professor ...","[0.022199273109436035, -0.010924174450337887, ..."
8,"A middle-aged Latina woman in her 40s, Maria i...","[-0.0074712433852255344, -0.000887294881977140..."
9,"A young African American man in his early 20s,...","[0.0017755168955773115, -0.018588444218039513,..."
10,"A white man in his mid-30s, Tyler is a tough-a...","[0.011398312635719776, -0.038380760699510574, ..."
11,"A white woman in her late 20s, Sonya is a free...","[0.006673669908195734, -0.023090502247214317, ..."
12,"A middle-aged Hispanic man in his 50s, Manuel ...","[-0.012681890279054642, -0.01115499623119831, ..."
13,"A white man in his early 40s, Will is a succes...","[-0.0014703168999403715, -0.033166926354169846..."
14,"A young Australian woman in her mid-20s, Mia i...","[-0.013856888748705387, -0.014185874722898006,..."
15,"A middle-aged Australian man in his 40s, Lucas...","[-0.002306401962414384, -0.007294057868421078,..."
16,A young Indigenous Australian woman in her ear...,"[-0.018038533627986908, -0.010984503664076328,..."
17,"A white Australian man in his late 20s, Max is...","[-0.0036310849245637655, -0.026928626000881195..."
18,"A middle-aged Australian woman in her 50s, Ava...","[-0.003946562297642231, 0.0002935632655862719,..."
19,A seasoned performer with a larger-than-life p...,"[-0.027577415108680725, -0.014347708784043789,..."
20,"A young up-and-coming performer, Johnny is ful...","[-0.03361907973885536, -0.016160523518919945, ..."
21,"A sultry and dramatic performer, Sable exudes ...","[-0.027826571837067604, -0.01454570796340704, ..."
22,"A bubbly and vivacious performer, Dolly is a f...","[-0.03728647157549858, -0.016844099387526512, ..."
23,"A fierce and competitive performer, Vixen is a...","[-0.03415583074092865, -0.021664632484316826, ..."
24,"A chameleon-like performer, Karma is known for...","[-0.0009998491732403636, -0.008698935620486736..."
25,"A quirky and imaginative performer, Crystal is...","[-0.015301148407161236, -0.010701618157327175,..."
26,A confident and charismatic marketing executiv...,"[-0.0065472922287881374, -0.010503015480935574..."
27,"A charming and successful entrepreneur, Marcus...","[-0.015614870004355907, -0.02911783941090107, ..."
28,A kind and compassionate nurse with a heart of...,"[-0.033020179718732834, -0.019923731684684753,..."
29,"A handsome and athletic personal trainer, Jame...","[-0.029990067705512047, -0.003798258025199175,..."
30,"A fun-loving and adventurous travel blogger, S...","[0.011157072149217129, -0.006655384320765734, ..."
31,"A quirky and creative graphic designer, Noah i...","[-0.02609659917652607, -0.01127712707966566, -..."
32,"A driven and ambitious attorney, Chloe is alwa...","[-0.0116198118776083, -0.0031070932745933533, ..."
33,"A laid-back and easygoing firefighter, Jake is...","[-0.019588826224207878, -0.01592748612165451, ..."
34,A charming and handsome prince who has recentl...,"[-0.009761600755155087, -0.016105996444821358,..."
35,A mysterious and alluring woman who runs a loc...,"[0.010790402069687843, -0.003631636733189225, ..."
36,A wealthy and arrogant nobleman who loves to f...,"[-0.022424040362238884, -0.015983091667294502,..."
37,A fiery and passionate young woman who works a...,"[-0.016097938641905785, -0.02260615862905979, ..."
38,A charming and charismatic young man who is of...,"[-0.017554903402924538, -0.012964434921741486,..."
39,A pompous and self-important nobleman who is h...,"[-0.013315127231180668, -0.03518359363079071, ..."
40,A wealthy and beautiful noblewoman who has rec...,"[-0.017846638336777687, -0.028381993994116783,..."
41,A drunken and lecherous knight who loves nothi...,"[-0.006863751448690891, -0.03922504559159279, ..."
42,A pompous and self-righteous steward in Lady O...,"[-0.01504779327660799, -0.032095033675432205, ..."
43,A plucky and resourceful young woman who is sh...,"[-0.0155258784070611, -0.046808600425720215, 0..."
44,A dim-witted and gullible nobleman who is brou...,"[-0.028926637023687363, -0.03159963712096214, ..."
45,Lady Olivia's cunning and quick-witted maid. B...,"[-0.015198317356407642, -0.023255717009305954,..."
46,"Viola's twin brother, who is also shipwrecked ...","[-0.009471133351325989, -0.045926060527563095,..."
47,A jester and musician who works in Lady Olivia...,"[-0.016461750492453575, -0.028220143169164658,..."
48,A sea captain who rescues Sebastian from the s...,"[-0.004014816600829363, -0.04001781344413757, ..."
49,A plucky and resourceful young woman who works...,"[-0.03148273378610611, -0.01927117072045803, -..."
50,A good-natured and affable young man who also ...,"[-0.018668416887521744, -0.009379115886986256,..."
51,The pious and stern minister of the local chur...,"[-0.00348820467479527, -0.01993994042277336, -..."
52,The charismatic and dashing captain of the loc...,"[-0.014173961244523525, -0.009808113798499107,..."
53,The matriarch of the wealthiest family in Will...,"[-0.028885116800665855, -0.009663384407758713,..."
54,The bumbling and absent-minded patriarch of th...,"[-0.017165901139378548, -0.008472580462694168,..."

Next step is to create a function that finds related pieces of text for a given question. The next function will use the embeddings that we generated previously in order to compare the vectorized version of our question to the vectorized versions of the rows of the dataset.

In [19]:
from openai.embeddings_utils import get_embedding, distances_from_embeddings

def get_rows_sorted_by_relevance(question, df):
    """
    Function that takes in a question string and a dataframe containing
    rows of text and associated embeddings, and returns that dataframe
    sorted from least to most relevant for that question
    """
    
    # Get embeddings for the question text
    question_embeddings = get_embedding(question, engine=EMBEDDING_MODEL_NAME)
    
    # Make a copy of the dataframe and add a "distances" column containing
    # the cosine distances between each row's embeddings and the
    # embeddings of the question
    df_copy = df.copy()
    df_copy["distances"] = distances_from_embeddings(
        question_embeddings,
        df_copy["embeddings"].values,
        distance_metric="cosine"
    )
    
    # Sort the copied dataframe by the distances and return it
    df_copy.sort_values("distances", ascending=True, inplace=True)
    return df_copy

In the following cell, we can see an example of the result returned by that function when we pass a question about our dataset. As can be seen, the columns of the dataset are sorted from smallest to largest distance, that is, from most to least relevant.  In fact, the answer to the question we have introduced is found in the first text that appears as most relevant, so it has been verified that it is performing well.

In [20]:
get_rows_sorted_by_relevance("Who is Emily in a relationship with?", df)

,text,embeddings,distances
0,"A young woman in her early 20s, Emily is an as...","[-0.01689424365758896, -0.00756641011685133, -...",0.127694
5,"A man in his early 30s, George is a charming a...","[-0.022485816851258278, -0.008806727826595306,...",0.157200
2,"A woman in her late 30s, Alice is a warm and n...","[0.004401929676532745, -0.004343237262219191, ...",0.169843
6,"A woman in her late 20s, Rachel is a shy and i...","[-0.005041478667408228, -0.006056156009435654,...",0.196861
33,"A laid-back and easygoing firefighter, Jake is...","[-0.019588826224207878, -0.01592748612165451, ...",0.213937
4,"A woman in her mid-20s, Sarah is a free-spirit...","[-0.018364207819104195, -0.021533139050006866,...",0.213947
3,"A man in his 50s, Tom is a retired soldier and...","[0.016953710466623306, -0.008723313920199871, ...",0.214365
26,A confident and charismatic marketing executiv...,"[-0.0065472922287881374, -0.010503015480935574...",0.215254
32,"A driven and ambitious attorney, Chloe is alwa...","[-0.0116198118776083, -0.0031070932745933533, ...",0.219871
1,"A middle-aged man in his 40s, Jack is a succes...","[0.00688925851136446, -0.019344933331012726, 0...",0.220297
30,"A fun-loving and adventurous travel blogger, S...","[0.011157072149217129, -0.006655384320765734, ...",0.220600
14,"A young Australian woman in her mid-20s, Mia i...","[-0.013856888748705387, -0.014185874722898006,...",0.223068
16,A young Indigenous Australian woman in her ear...,"[-0.018038533627986908, -0.010984503664076328,...",0.229024
18,"A middle-aged Australian woman in her 50s, Ava...","[-0.003946562297642231, 0.0002935632655862719,...",0.231912
15,"A middle-aged Australian man in his 40s, Lucas...","[-0.002306401962414384, -0.007294057868421078,...",0.232047
11,"A white woman in her late 20s, Sonya is a free...","[0.006673669908195734, -0.023090502247214317, ...",0.234324
50,A good-natured and affable young man who also ...,"[-0.018668416887521744, -0.009379115886986256,...",0.235411
17,"A white Australian man in his late 20s, Max is...","[-0.0036310849245637655, -0.026928626000881195...",0.236783
8,"A middle-aged Latina woman in her 40s, Maria i...","[-0.0074712433852255344, -0.000887294881977140...",0.238191
40,A wealthy and beautiful noblewoman who has rec...,"[-0.017846638336777687, -0.028381993994116783,...",0.239668
13,"A white man in his early 40s, Will is a succes...","[-0.0014703168999403715, -0.033166926354169846...",0.239830
27,"A charming and successful entrepreneur, Marcus...","[-0.015614870004355907, -0.02911783941090107, ...",0.241246
29,"A handsome and athletic personal trainer, Jame...","[-0.029990067705512047, -0.003798258025199175,...",0.242330
49,A plucky and resourceful young woman who works...,"[-0.03148273378610611, -0.01927117072045803, -...",0.244143
51,The pious and stern minister of the local chur...,"[-0.00348820467479527, -0.01993994042277336, -...",0.246967
28,A kind and compassionate nurse with a heart of...,"[-0.033020179718732834, -0.019923731684684753,...",0.247481
10,"A white man in his mid-30s, Tyler is a tough-a...","[0.011398312635719776, -0.038380760699510574, ...",0.247740
20,"A young up-and-coming performer, Johnny is ful...","[-0.03361907973885536, -0.016160523518919945, ...",0.248339
31,"A quirky and creative graphic designer, Noah i...","[-0.02609659917652607, -0.01127712707966566, -...",0.248381
43,A plucky and resourceful young woman who is sh...,"[-0.0155258784070611, -0.046808600425720215, 0...",0.250267
7,"A man in his 60s, John is a retired professor ...","[0.022199273109436035, -0.010924174450337887, ...",0.250741
9,"A young African American man in his early 20s,...","[0.0017755168955773115, -0.018588444218039513,...",0.252455
53,The matriarch of the wealthiest family in Will...,"[-0.028885116800665855, -0.009663384407758713,...",0.252927
52,The charismatic and dashing captain of the loc...,"[-0.014173961244523525, -0.009808113798499107,...",0.253025
45,Lady Olivia's cunning and quick-witted maid. B...,"[-0.015198317356407642, -0.023255717009305954,...",0.256403
46,"Viola's twin brother, who is also shipwrecked ...","[-0.009471133351325989, -0.045926060527563095,...",0.257243
39,A pompous and self-important nobleman who is h...,"[-0.013315127231180668, -0.03518359363079071, ...",0.257877
24,"A chameleon-like performer, Karma is known for...","[-0.0009998491732403636, -0.008698935620486736...",0.259165
37,A fiery and passionate young woman who works a...,"[-0.016097938641905785, -0.02260615862905979, ...",0.259274
34,A charming and handsome prince who has recentl...,"[-0.009761600755155087, -0.016105996444821358,...",0.260320
42,A pompous and self-righteous steward in Lady O...,"[-0.01504779327660799, -0.032095033675432205, ...",0.262542
41,A drunken and lecherous knight who loves nothi...,"[-0.006863751448690891, -0.03922504559159279, ...",0.264232
44,A dim-witted and gullible nobleman who is brou...,"[-0.028926637023687363, -0.03159963712096214, ...",0.265522
22,"A bubbly and vivacious performer, Dolly is a f...","[-0.03728647157549858, -0.016844099387526512, ...",0.265854
54,The bumbling and absent-minded patriarch of th...,"[-0.017165901139378548, -0.008472580462694168,...",0.269153
12,"A middle-aged Hispanic man in his 50s, Manuel ...","[-0.012681890279054642, -0.01115499623119831, ...",0.270724
21,"A sultry and dramatic performer, Sable exudes ...","[-0.027826571837067604, -0.01454570796340704, ...",0.272669
47,A jester and musician who works in Lady Olivia...,"[-0.016461750492453575, -0.028220143169164658,...",0.274153
25,"A quirky and imaginative performer, Crystal is...","[-0.015301148407161236, -0.010701618157327175,...",0.274474
35,A mysterious and alluring woman who runs a loc...,"[0.010790402069687843, -0.003631636733189225, ...",0.275700
48,A sea captain who rescues Sebastian from the s...,"[-0.004014816600829363, -0.04001781344413757, ...",0.275812
38,A charming and charismatic young man who is of...,"[-0.017554903402924538, -0.012964434921741486,...",0.281881
23,"A fierce and competitive performer, Vixen is a...","[-0.03415583074092865, -0.021664632484316826, ...",0.284557
19,A seasoned performer with a larger-than-life p...,"[-0.027577415108680725, -0.014347708784043789,...",0.291992
36,A wealthy and arrogant nobleman who loves to f...,"[-0.022424040362238884, -0.015983091667294502,...",0.293285

The next step is to create a function that composes a text promp. We're going to create a text prompt that provides context to a Completion model in order to help it answer a question. 

We want to fit as much of our dataset as possible into the "context" part of the prompt without exceeding the number of tokens allowed by the Completion model, which is currently 4,000. So we'll loop over the dataset, counting the tokens as we go, and stop when we hit the limit. Then we'll join that list of text data into a single string and add it to the prompt.

In [21]:
import tiktoken

def create_prompt(question, df, max_token_count):
    """
    Given a question and a dataframe containing rows of text and their
    embeddings, return a text prompt to send to a Completion model
    """
    tokenizer = tiktoken.get_encoding("cl100k_base")
    
    # Count the number of tokens in the prompt template and question
    prompt_template = """
Answer the question based on the context below, and if the question
can't be answered based on the context, say "I don't know"

Context: 

{}

---

Question: {}
Answer:"""
    
    current_token_count = len(tokenizer.encode(prompt_template)) + \
                            len(tokenizer.encode(question))
    
    context = []
    for text in get_rows_sorted_by_relevance(question, df)["text"].values:
        
        # Increase the counter based on the number of tokens in this row
        text_token_count = len(tokenizer.encode(text))
        current_token_count += text_token_count
        
        # Add the row of text to the list if we haven't exceeded the max
        if current_token_count <= max_token_count:
            context.append(text)
        else:
            break

    return prompt_template.format("\n\n###\n\n".join(context), question)

We can see the prompt results in the next cell:

In [22]:
print(create_prompt("Who is Emily in a relationship with?", df, 200))

Answer the question based on the context below, and if the question
can't be answered based on the context, say "I don't know"

Context:

A young woman in her early 20s, Emily is an aspiring actress and Alice's daughter. She has a bubbly personality and a quick wit, but struggles with self-doubt and insecurity. She's also in a relationship with George.

###

A man in his early 30s, George is a charming and charismatic businessman who is in a relationship with Emily. He's ambitious, confident, and always looking for the next big opportunity. However, he's also prone to bending the rules to get what he wants.

---

Question: Who is Emily in a relationship with?
Answer:

The final step is to send that text prompt to a Completion model and parse the model output.

In [23]:
COMPLETION_MODEL_NAME = "gpt-3.5-turbo-instruct"

def answer_question(
    question, df, max_prompt_tokens=1800, max_answer_tokens=150
):
    """
    Given a question, a dataframe containing rows of text, and a maximum
    number of desired tokens in the prompt and response, return the
    answer to the question according to an OpenAI Completion model
    
    If the model produces an error, return an empty string
    """
    
    prompt = create_prompt(question, df, max_prompt_tokens)
    
    try:
        response = openai.Completion.create(
            model=COMPLETION_MODEL_NAME,
            prompt=prompt,
            max_tokens=max_answer_tokens
        )
        return response["choices"][0]["text"].strip()
    except Exception as e:
        print(e)
        return ""

## Custom Performance Demonstration

**In the cells below, demonstrate the performance of your custom query using at least 2 questions. For each question, show the answer from a basic `Completion` model query as well as the answer from your custom query.**

### Question 1 - Who is Emily in a relationship with?

#### Text with the answer to verify that it is correct

In [29]:
df['text'][0]

"A young woman in her early 20s, Emily is an aspiring actress and Alice's daughter. She has a bubbly personality and a quick wit, but struggles with self-doubt and insecurity. She's also in a relationship with George."

#### Custom query

In [24]:
question_1 = answer_question("Who is Emily in a relationship with?", df)
question_1

Emily is in a relationship with George.

#### Basic query

In [30]:
question_1_prompt = """
Question: "Who is Emily in a relationship with?"
Answer:
"""
question_1 = openai.Completion.create(
    model="gpt-3.5-turbo-instruct",
    prompt=question_1_prompt,
    max_tokens=150
)["choices"][0]["text"].strip()
question_1

'I am an AI and I do not have personal relationships. I am not able to determine who Emily is in a relationship with. Can you please provide more context or information?'

### Question 2 - What is Karma's ability?

#### Text with the answer to verify that it is correct

In [26]:
df['text'][24]

"A chameleon-like performer, Karma is known for her ability to transform herself into any character. She's a master of illusion and is always pushing boundaries with her looks and performances, but can sometimes struggle with authenticity and staying true to herself. She's also a friend of Dolly, often offering her a listening ear when she needs it."

#### Custom query

In [27]:
question_2 = answer_question("What is Karma's ability?", df)
question_2

'Karma is known for her ability to transform herself into any character.'

#### Basic query

In [31]:
question_2_prompt = """
Question: "What is Karma's ability?"
Answer:
"""
question_2 = openai.Completion.create(
    model="gpt-3.5-turbo-instruct",
    prompt=question_1_prompt,
    max_tokens=150
)["choices"][0]["text"].strip()
question_2

'There is not enough information given to accurately answer this question.'